beautifulsoup4==4.12.2
Cartopy==0.21.1
certifi==2022.9.14
fpdf==1.7.2
joblib==1.1.0
kneed==0.8.3
matplotlib==3.5.2
netCDF4==1.6.3
numpy==1.21.5
pymannkendall==1.4.3
PyYAML==6.0
requests==2.28.1
scipy==1.9.1
setuptools==63.4.1
urllib3==1.26.11
